>step1:Gathering data

In [21]:
#importing packages
import numpy as np
import pandas as pd

In [24]:
data=pd.read_csv('/content/insurance.csv')

In [25]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

>step2:Data preprocessing

In [27]:
#one hot encoding-convert the cogegorical variables into numerical variables
data['sex']=data['sex'].apply({'male':1,'female':0}.get)

In [28]:
data.head()

   age  sex   bmi  children smoker     region  expenses
0   19    0  27.9         0    yes  southwest  16884.92
1   18    1  33.8         1     no  southeast   1725.55
2   28    1  33.0         3     no  southeast   4449.46
3   33    1  22.7         0     no  northwest  21984.47
4   32    1  28.9         0     no  northwest   3866.86

In [29]:
data['smoker']=data['smoker'].apply({'yes':1,'no':0}.get)
data['region']=data['region'].apply({'southeast':1,'southwest':0,'northeast':2,'northwest':3}.get)

In [30]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       1       0  16884.92
1   18    1  33.8         1       0       1   1725.55
2   28    1  33.0         3       0       1   4449.46
3   33    1  22.7         0       0       3  21984.47
4   32    1  28.9         0       0       3   3866.86

>step3:Dividing data into dependent and independent variables

In [31]:
x=data[['age','sex','bmi','children','smoker','region']]#independent variables
y=data[['expenses']]#dependent variables

>step4:spliting data into training and testing set

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
#test_size=0.2 means 20% of data will be used for testing the accuracy of model
#80% of data be used for making the model learn

>step5:creating ML model using Linear Regression algorithm

In [33]:
#import Linear Regression algorithm
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()#activating the algorithm for use

In [34]:
#training the model using .fit()
linear_model.fit(x_train,y_train)

LinearRegression()

In [35]:
y_pred=linear_model.predict(x_test)#predict()used for predicting future values

In [36]:
print(y_pred)#y_pred is amount of health insurance as calculated by ML model

[[12605.14986358]
 [12664.76292323]
 [12840.77730431]
 [14291.48701521]
 [ 8366.62525341]
 [11253.6007603 ]
 [13726.79044575]
 [10535.79664232]
 [30863.19724823]
 [ 7917.6721286 ]
 [ 9409.3557494 ]
 [ 4910.34919681]
 [15489.49010864]
 [12350.86002458]
 [ 4201.81553938]
 [ 3845.55377811]
 [ 9902.96364533]
 [28053.19748837]
 [10017.52256854]
 [11092.81808021]
 [ 2713.48026638]
 [39469.93764161]
 [ -699.87558691]
 [33818.6598303 ]
 [11405.30267941]
 [32478.18257561]
 [15302.02948638]
 [ 1969.87719102]
 [ 1560.46225821]
 [ 4970.98411089]
 [37255.14362413]
 [11247.71368679]
 [32558.6628701 ]
 [ 6702.12931823]
 [11325.45855248]
 [30511.89949725]
 [15730.65363204]
 [ 5866.49413187]
 [ 5907.89984279]
 [ 7656.18969779]
 [10792.38085052]
 [14022.1303973 ]
 [10230.46087325]
 [31430.63966142]
 [10929.76048509]
 [ 7721.41626528]
 [ 5951.75180532]
 [ 5892.79971716]
 [ 3074.73710316]
 [ 9383.67932817]
 [33334.21115306]
 [12454.20510888]
 [35160.23514205]
 [10261.7174556 ]
 [ 9397.94623996]
 [28166.67868802]
 [25432.74494197]
 [ 7413.66496661]
 [ 3709.98562975]
 [ 4433.98508295]
 [  380.10777111]
 [ 6447.51345587]
 [  758.08208852]
 [18181.37359696]
 [11518.32198956]
 [ 6285.83912097]
 [ 2558.30849586]
 [ 4124.27707593]
 [ 2068.19216058]
 [14926.84509115]
 [ 7041.24844111]
 [  595.33172256]
 [10886.65421304]
 [ 6621.72814142]
 [36335.86811931]
 [ 2051.50971919]
 [31796.57734104]
 [ 3673.87490323]
 [ 5169.50359494]
 [ 2185.23240106]
 [13555.81490185]
 [ 7955.68077929]
 [ 9882.46070488]
 [ 9332.77676415]
 [11509.62328462]
 [39257.83424324]
 [ 3888.41723293]
 [ 2264.11036305]
 [ 2790.6750857 ]
 [16135.13790128]
 [ 3832.16722683]
 [ 3327.345492  ]
 [ 6039.22732857]
 [36439.81570768]
 [ 4080.31556405]
 [30676.43995695]
 [33587.5883438 ]
 [33906.46598445]
 [ 4516.8255343 ]
 [12049.5438101 ]
 [  534.20351058]
 [26895.6756669 ]
 [ 7032.90072702]
 [28707.52365245]
 [10291.28185607]
 [11117.72569955]
 [ 2215.90818859]
 [ 9743.83810789]
 [ 6482.95191662]
 [ 3611.6048725 ]
 [17645.86703539]
 [ 1886.20183333]
 [ 1308.31607564]
 [24574.82544386]
 [32334.52114144]
 [14023.2725328 ]
 [ 3125.11336575]
 [11872.93596416]
 [ 2547.22760806]
 [ 3344.15950875]
 [31092.70812821]
 [ 5509.57449379]
 [11836.40814235]
 [ 4180.29897055]
 [27411.02824315]
 [12395.76630892]
 [36398.79602683]
 [ 2778.69382064]
 [ 2361.08445834]
 [38506.37869001]
 [ 8554.22649023]
 [ 4892.82280987]
 [ 8489.01293597]
 [14137.32548806]
 [ 7265.83907248]
 [27303.21438478]
 [ 6238.20901888]
 [11581.11969745]
 [31995.88627725]
 [ 3492.91652858]
 [27299.53709858]
 [28279.96252462]
 [11339.01171835]
 [12390.77123342]
 [ 4413.74360072]
 [13171.78981138]
 [28805.68361848]
 [ 7363.24462558]
 [14555.1101874 ]
 [13940.8705692 ]
 [ 9671.23459879]
 [38900.23298342]
 [12300.74691271]
 [33283.90067816]
 [14200.56200048]
 [10709.03580696]
 [ 7345.28709759]
 [19021.53261335]
 [10391.70544283]
 [10450.25410891]
 [ 1347.75206499]
 [11412.82452637]
 [ 7103.20986694]
 [14220.16593941]
 [ 7583.12398243]
 [ 4047.65401224]
 [30026.22256333]
 [27722.77876292]
 [ 5354.43744574]
 [11287.05314001]
 [ 5922.62726835]
 [ 8293.08601105]
 [26307.61875464]
 [ 9001.61062927]
 [10324.24159783]
 [ 2270.68743756]
 [26726.77767499]
 [ 9632.20205797]
 [12339.77776104]
 [29101.80601868]
 [14273.52948721]
 [ 9379.08801795]
 [ 8673.55206069]
 [28899.948285  ]
 [11290.78783465]
 [ 8982.49094904]
 [16025.99390035]
 [13732.40103856]
 [ 4016.17835761]
 [ 2660.77459538]
 [10978.09423492]
 [13277.7932425 ]
 [13189.98846409]
 [ 9347.56828488]
 [10734.33815238]
 [ 3102.82937076]
 [ 2416.03169764]
 [ -960.07129363]
 [10673.82577446]
 [28240.78968599]
 [15494.9253644 ]
 [ 6548.84677586]
 [ 2099.77768134]
 [28510.08019946]
 [11752.02945368]
 [15697.48611229]
 [ 6586.93454423]
 [14763.00965493]
 [14586.82696675]
 [12754.88378006]
 [  993.74488524]
 [11176.96436661]
 [ 2456.56574405]
 [27708.18291273]
 [10081.39662425]
 [ 9798.58798415]
 [11247.01035581]
 [37299.31720479]
 [10314.72131655]
 [24645.44318867]
 [ 4294.7263184 ]
 [ 5636.1042671 ]
 [ 3975.32269307]
 [ 8019.59891345]
 [ 4185.57190251]
 [ 9576.24595103]
 [12155.98742148]
 [12913.57986895]
 [32047.86656483]
 [12532.58751788]
 [ 7455.80303802]
 [31277.24725293]
 [30097.65350525]
 [27490.28028096]
 [30067.34169536]
 [ 4218.299242  ]
 [14556.22125769]
 [14921.10292299]
 [39336.17088129]
 [10260.54457165]
 [16744.72042158]
 [13784.01994679]
 [ 8906.89846222]
 [ 9325.17442377]
 [11486.60489344]
 [12415.04130946]
 [ 4734.99269253]
 [13315.66162183]
 [15175.52142231]
 [ 3817.52729819]
 [26534.04581328]
 [29579.77415754]
 [10513.18370893]
 [14328.27936347]
 [ 6668.78818038]
 [ 7166.07336251]
 [14782.74516922]
 [ 7052.46058751]
 [ 5050.88135546]
 [16692.29091454]
 [ 1095.75047101]
 [ 6653.20379605]
 [ -256.92011751]
 [11548.45814565]
 [14746.39300121]
 [ 9505.55200358]
 [ 9963.43226157]
 [29575.90788754]]

In [37]:
#checking accuracy of the model
accuracy=linear_model.score(x,y)

In [38]:
print('the accuracy of ML model using Linear Regression algorithm is',accuracy)

the accuracy of ML model using Linear Regression algorithm is 0.7501713101941522

>predicting health insurance of a new customer

In [39]:
#creating data for a new customer
data_new={'age':65,'sex':0,'bmi':26,'children':3,'smoker':1,'region':3}

In [40]:
#converting the dict into a dataframe
index=[1]#serial number
my_data=pd.DataFrame(data_new,index)

In [41]:
my_data

   age  sex  bmi  children  smoker  region
1   65    0   26         3       1       3

In [42]:
#predicting the amount of health insurance the new customer is going to get
predictions=linear_model.predict(my_data)

In [44]:
print('the amount of health insurance for new customer is',predictions)

the amount of health insurance for new customer is [[38535.7240182]]